@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .hoverAnimation {
        @apply hover:bg-[#0f14191a] hover:bg-opacity-10 
        rounded-full cursor-pointer w-[52px] 
        h-[52px] xl:w-auto xl:h-auto 
        xl:py-3 xl:px-4 transition duration-200 ease-out;
    }
    .icon{
        @apply p-1 cursor-pointer hover:bg-[#1d9bf0] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
    }
    .break-words{
        word-break: break-word;
    }
}